<h1>Sign Up</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="your name"  id="" required>
    <input type="email" name="email" placeholder="email" id="" required>
    <input type="password" name="password" placeholder="password" id="" required>
    <input type="password" name="confirmPassword" placeholder="Confirm password" id="" required>
    <input type="submit" value="Sign Up" id="">
</form>